<ion-header>
  <ion-navbar>
    <ion-title>Manage Stock</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddProductPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment *ngIf="stocks" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button *ngFor="let stock of stocks" value="{{ stock.slug }}">{{ stock.name }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #mySlider *ngIf="stocks" (ionSlideDidChange)="onSlideChanged($event)">
      <ion-slide *ngFor="let stock of stocks">
        <ion-list>
          <button *ngFor="let product of stock.products" ion-item (click)="goToViewProductPage(product.id)">
            {{ product.name }}
            <br>
            <span>{{ product.quantity }}</span>
          </button>
          <p *ngIf="stock.products.length == 0">Il n'y a aucun produit dans ce stock</p>
        </ion-list>
      </ion-slide>
    </ion-slides>
</ion-content>