<ion-header>
  <ion-navbar>
    <ion-title>Manage Stock</ion-title>

    <ion-buttons end *ngIf="stocks">
      <button ion-button icon-only (click)="goToAddProductPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment *ngIf="stocksName" [(ngModel)]="page">
      <ion-segment-button *ngFor="let stock of stocksName" value="{{ stock.slug }}">{{ stock.name }}</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshHome($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p *ngIf="stocks == 0" text-center>Vous n'avez aucun stock, vous pouvez en créer un depuis votre profil</p>

  <div *ngIf="stocks" [ngSwitch]="page">
    <div *ngFor="let stock of stocks">
      <ion-list *ngSwitchCase="stock.slug">
        <button *ngFor="let product of stock.products" ion-item (click)="goToViewProductPage(product.id, stock.stockAccesses)">
          {{ product.name }}
          <br>
          <span>{{ product.quantity }}</span>
        </button>
        <p *ngIf="stock.products.length == 0" text-center>Il n'y a aucun produit dans ce stock</p>
      </ion-list>
    </div>
  </div>
</ion-content>