<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nouveau produit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-item>
      <ion-label stacked>Nom</ion-label>
      <ion-input [(ngModel)]="productData.name" name="name" type="text" placeholder="Nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea [(ngModel)]="productData.description" name="description" type="text" placeholder="Description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Référence</ion-label>
      <ion-input [(ngModel)]="productData.reference" name="reference" type="text" placeholder="Référence"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Quantité</ion-label>
      <ion-input [(ngModel)]="productData.quantity" name="quantity" type="number" placeholder="Quantité"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button (click)="takePicture('picture1')">
            <span *ngIf="!productData.picture1">Prendre une photo</span>
            <span *ngIf="productData.picture1">Modifier la photo</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button color="danger" *ngIf="productData.picture1" (click)="deletePicture('picture1')">Supprimer la photo</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img *ngIf="productData.picture1" src="{{ productData.picture1 }}" alt="">

    <ion-grid>
      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button round type="submit" [disabled]="" (click)="doCreateProduct()">Créer le produit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
